body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btnHeading,
.cardTitle {
    font-family: 'Montserrat', sans-serif;
}

.textJustify {
    text-align: justify;
}

.highlight {
    color: #EE8130;
}

/* Paragraph styling */
.fText {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
    line-height: 1.6;
}

.btnFun {
    display: inline-block;
    padding: 12px 25px;
    background-color: transparent;
    border: 2px solid #EE8130;
    color: #EE8130;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-bottom: 100px;
}

.btnFun:hover {
    background-color: #EE8130;
    color: white;
}

.cardTitle {
    font-weight: bold;
    color: #EE8130;
}


.card {
    border: 2px solid #EE8130;
}

.eruptionShadow {
    box-shadow:
        0 0 15px 10px rgba(255, 69, 0, 0.8),
        0 0 30px 20px rgba(255, 99, 71, 0.6),
        0 0 45px 30px rgba(255, 165, 0, 0.4),
        0 0 60px 40px rgba(255, 69, 0, 0.2);
    transition: box-shadow 0.5s ease;
}